server/secrets.py
.DS_Store
/.build
/.swiftpm
/Packages
/*.xcodeproj
xcuserdata/
*.xcuserstate
MLCollage.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.pbxproj
*.xcuserstate
*.pbxproj
*.xcuserstate
